.container {
	margin: 0 auto;
	display: flex;
}

.column {
	flex-direction: column;
}

.item {
  flex: 1;
  align-self: center;
}

button {
  border: none;
  width: 53px;
  border-radius: 50px;
  color: white;
  text-align: center;
  height: 24px;
}

.button-section-deputy{
  border-radius: 50px;
}

.button-section-party{
  left: 5%;
  border-radius: 50px;
  margin-left: 5px;
}

.list-deputy-party{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 25%;
  bottom: 0%;
}

.yes {
  background-color: #29BCAA
}

.no {
  background-color: #F27076;
}

td{
  border-bottom:1px solid #e5e5e5;
}

tr{
  vertical-align: center;
}