<!--http://localhost:4200/votacao-prop-deputado/62881 para cada deputado verifica como ele votou nos projetos de lei -->

<div class="button-wrapper">
  <mat-spinner *ngIf="loading" [diameter]="80" mode="indeterminate"></mat-spinner>
</div>

<div class="container column">

  <div class="item">
    <app-pie-chart [labels]="labels" [series]="series" ></app-pie-chart>
  </div>

  <div class="vitem">
    <div class="container">
        <table  style ="border: none;" class="table table-borderless">
          <tbody>
            <tr *ngFor="let vote of votes" class="text-center">
              <td>{{vote.votacao}}</td>
              <td></td>
              <td>
                <button disabled
                        [ngClass]="{
                        'yes' : voteButtonTypes.YES === vote.voteButton,
                        'no': voteButtonTypes.NO === vote.voteButton
                        }"
                >
                  {{vote.voto.toUpperCase()}}
                </button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
