.party-deputy-frame{
  /* Auto Layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 8px;

  position: absolute;
  width: 91px;
  height: 56px;
  left: 24px;
  top: 0px;
}

.party-deputy-icon{
  position: relative;
  left: 8.79%;
  right: 47.25%;
  top: 0%;
  bottom: 14.29%;

  /* Neutral/00 */

  background: #FFFFFF;
  border-radius: 4px;
}

.party-deputy-text{
  position: relative;
  left: 15%;
  right: 47.25%;
  top: 0%;
  bottom: 14.29%;

  /* Body/Default */

  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */


  /* Text/Dark */

  color: #313647;


  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}

.party-deputy-tag{
  /* Auto Layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 16px;

  position: relative;
  left: 95%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  /* Success/Main */

  border-radius: 50px;

  /* Inside Auto Layout */

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
}

.view-section{
  right: 0%;
  top: 20%;
  bottom: 0%;
  left: 5%;
}

.view-page{
  position: relative;
  width: 360px;
  height: 972px;
}

.yes {
  background-color: #29BCAA
}

.no {
  background-color: #F27076;
}

td{
  border-bottom:1px solid #e5e5e5;
}

tr{
  vertical-align: center;
}