<div class="container">
  <table  style ="border: none;" class="table table-borderless">
    <tbody>
    <tr *ngFor="let vote of votes" class="text-center">
      <td><img style="border-radius: 50%;" height="25px" width="25px" src={{vote.img}}></td>
      <td>{{vote.name}}</td>
      <td></td>
      <td></td>
      <td>
        <button
          disabled style="border: none; width: 50px; border-radius: 50px; color: white;"
          [ngClass]="{
          'yes' : voteButtonTypes.YES === vote.voteButton,
          'no': voteButtonTypes.NO === vote.voteButton
          }"
        >
          {{vote.vote.toUpperCase()}}
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
