<div class="button-wrapper">
  <mat-spinner *ngIf="loading" [diameter]="80" mode="indeterminate"></mat-spinner>
</div>

<div class="container column" *ngIf="!loading">

  <div class="item">
    <app-cloud [cloudData]="cloudData" ></app-cloud>
  </div>

  <hr>
  <h2>Projetos de Lei</h2>
  <div class="vitem">
    <div class="container">
      <table  style ="border: none;" class="table table-borderless">
        <tbody>
        <tr *ngFor="let prop of propositions" class="text-center">
          <td>
            <b>{{prop.codTipo + "-" + prop.id }}</b>
            <p *ngIf="prop.temas.length > 0" class="theme-border">{{ prop.temas[0].tema }}</p>
          </td>
          <!-- <td class="link">></td> -->
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
