<div class="button-wrapper">
  <mat-spinner *ngIf="loading" [diameter]="80" mode="indeterminate"></mat-spinner>
</div>

<div class="container column">
  <div class="item">
    <app-pie-chart *ngIf="!isEmpty" [labels]="labels" [series]="series" ></app-pie-chart>
    <mat-card *ngIf="isEmpty">Não existem dados públicos sobre as votações desta proposição.</mat-card>
  </div>

  <div class="item" *ngIf="!isEmpty && !loading">
    <button (click)="Deputados()"
            [ngClass]="{'green' : deputyButtonTriggered, 'white': !deputyButtonTriggered}"
            mat-raised-button>
      Deputados
    </button>
    <button (click)="Partidos()"
            [ngClass]="{'green' : partyButtonTriggered, 'white': !partyButtonTriggered}"
            mat-raised-button>
      Partidos
    </button>
  </div>

  <div class="item">
    <app-party-view *ngIf="!isEmpty && !loading" [votes]="votesTable"></app-party-view>
  </div>

</div>

