.container {
	margin: 0 auto;
	display: flex;
}

.column {
	flex-direction: column;
}

.item {
  flex: 1;
  align-self: center;
}

button {
  border: 1px solid gray;
  margin: 0px 5px 20px 5px;
  border-radius: 50px;
  height: 38px;
}

.green {
  background-color: rgb(108, 130, 255);
  color:white;
}

.white {
  background-color: white;
  color:  #848484;
}

.mat-card{
  color: #848484;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  font-style: normal;
}
